<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz for this Month</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="/static/logistics_details.png" alt="t_datails">
        </div>
        <div class="row">
            <h1 class="text-center mt-2">Quiz Details</h1>
            <p class="fs-3">Hello {{data['username']}}</p>
            <p class="fs-5">Please refer to the monthly quiz made by you in this month</p>
        </div>
        <div class="row">
            <table class="table table-striped mx-2">
                <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Subject Description</th>
                        <th scope="col">Chapter</th>
                        <th scope="col">Chapter Description</th>
                        <th scope="col">quiz time</th>
                        <th scope="col">remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = 0 %}
                    {% for q in data['quizs'] %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{q['subject']}}</td>
                        <td>{{q['subject_desciption']}}</td>
                        <td>{{q['chapter']}}</td>
                        <td>{{q['chapter_description']}}</td>
                        <td>{{q['quiz_time']}}</td>
                        <td>{{q['remarks']}}</td>  
                       
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" class="text-end">Total</td>
                       
                    </tr>
                </tbody>  
            </table>
            <p class="fs-5">
                Thank you for choosing QuizIt. 
            </p>
        </div>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <img src="/static/stamp.jpg" alt="Company stamp" style="width: 150px;">
            </div>
        </div>
        <div class="row">
            <p class="text-center mt-2">
                QuizIt | &copy; Copyright 2025 | Created at IITM
            </p>
        </div>
    </div>
    
</body>
</html>